@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}

html,body{
    height: 100%;
    background-color: rgba(9, 9, 9, 0.864);
}

.center{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
    padding: 0 2%;
}

.description{
    background-color: rgba(9, 9, 9, 0.504);
    height: 100%;
    width: 100%;
}

/**header**/

header{
    background-image: url(..//img/backgg.jfif);
    background-size: 85% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    
}
.cabecalho{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}


#fade{
    display: none;
    position: relative;
    top: 20px;
}
#slide{
    padding: 20px 20px 0 20px;
}

.text h2{
    font-size: 35px;
}

header.home #anna{
    padding-left: 80px;
}

header.home #anna img{
    width: 200px;
    height: 400px;
}




.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
    padding: 0 2%;
    color: white;
}

.row h2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
}



.foto{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#anna{
    width: 500px;
    height: 600px;
    padding-bottom: 20px;
   
}

#anna img{
    width: 500px;
    height: 600px;
}

.f-carousel button{
    display: none;
}




.img-1{
    height: 500px;
    width: 500px;
    background-image: url(../img/solo3.jpg);
    background-size: cover;
    background-position: center;
    margin: 80px auto;
}



#ze{
    margin: 20px auto 0 auto;
    width: 300px;
    height: 400px;
   
}

#ze img{
    width: 300px;
    height: 400px;
}



.texto{
    color: white;
    margin-top: 20px;
    height: 45px;
    font-size: 17px;
    font-weight: 800;
    overflow: hidden;
    padding: 0px 30px 0px 30px;
}


button{
    cursor: pointer;
    text-align: center;
    margin: 10px auto 60px auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.753);
}

.compact.active .texto {
    height: auto;
    transition: 1s;
}

.compact.active .texto::before {
    visibility: hidden;
    transition: 1s;
}

.butao{
    display: flex;
    width: 100%;}






@media screen and (max-width:670px) {
   

    .row{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .img-1{
        height: 300px;
        width: 300px;
        background-size: cover;
        background-position: center;
    
    }

    .foto{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #ze{
        margin: 0 auto;
        width: 300px;
        height: 400px;
       
    }

    #ze img{
        margin: 0 auto;
        width: 300px;
        height: 400px;
    }


    #anna{
        
        margin: 0 auto;
        width: 200px;
        height: 400px;
       
    }

    #anna img{
        width: 200px;
        height: 400px;
    }

    
}
@media screen and (max-width:390px) {

}

